@import "../../../assets/css/helper.scss";

body {
  background-color: white !important;
}

.workspace {
  background-color: white;
  height: 100vh;
  padding: 20px;
  transition: all 125ms ease-in-out;
}

.toggleWorkspaceMenu {
  display: none;
}

.iconSize24 {
  width: 24px;
  height: 24px;
}

.channels,
.privateMessage {
  @extend .d-center;
  justify-content: flex-start;
  gap: 16px;
  .dropDownHeader {
    @extend .d-center;
    gap: 8px;
  }
}

.channelSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropDownHeader,
.addChannel {
  cursor: pointer;
}

.dropdown-content {
  @extend .d-center;
  // justify-content: flex-start;
  align-items: start;
  gap: 8px;
  flex-direction: column;
  margin-left: 32px;
}

.userList {
  position: relative;
  @extend .d-center;
  gap: 16px;
  padding: 4px 20px;
  cursor: pointer;
  &:hover {
    background-color: $bg-field-color;
    border-radius: 30px;
  }
}

.channelListItem {
  @extend .d-center;
  gap: 8px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.status {
  border: 2px solid #ffffff;
  width: 14px;
  height: 14px;
  top: 40px;
  left: 56px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.online {
  @extend .status;
  background: #92c83e;
}

.offline {
  @extend .status;
  background: #686868;
}

.workspaceSearch {
  display: block;
}
.workspaceName {
  display: none;
}

.addMessage {
  position: absolute;
  bottom: 40px;
  right: 16px;
  background-color: $main-color;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 0px 6px 10px 0px #00000033;
  cursor: pointer;

  path {
    fill: white;
  }
}



// Media Queries Mobile First

@media screen and (min-width: 800px) {

  .WorkspaceOpen {
    width: 300px !important; 
    margin-left:16px !important;
  }
  
  .WorkspaceClosed {
    width: 0px !important; 
    margin-left:-366px !important;
    opacity: 0;
  }


  .addMessage {
    display: none;
  }

  .workspace {
    width: 366px;
    border-radius: 30px;
    height: 85vh;
    margin: 0 16px;
  }

  .toggleWorkspaceMenuInner {
    display: flex;
    align-items: center;
    rotate: -90deg;
    white-space: nowrap;
    gap: 8px;
  }

  .toggleWorkspaceMenu {
    cursor: pointer;
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 4px 4px 7px 0px #00000033;
    width: 60px;
    height: 347px;
    bottom:10%;
    border-radius: 0px 30px 30px 0px;
    transition: color 125ms ease-in-out;
    &:hover {
      color: $main-secondary;
    }
    &:hover rect,
    &:hover path {
      stroke: $main-secondary;
    }

    span {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
    }
    svg {
      width: 32px;
      height: 32px;
      rotate: -90deg;
    }
    svg.open {

      rotate: 90deg;
    }
  }
  .workspaceSearch {
    display: none;
  }
  .workspaceName {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
      text-align: left;
    }
  }
}
