@import "../../../assets/css/helper.scss";

body {
  background-color: white !important;
}

.addChannelContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 20px;
  height: calc(100% - 80px);
  background-color: white;
  z-index: 10;

  button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    width: fit-content;
    position: absolute;
    right: 20px;
    bottom: 40px;
  }

  .formField {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 23.19px;
    text-align: left;
    margin: 0;
  }
  label {
    display: block;

    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    small {
      color: #686868;
    }
  }

  input {
    font-size: 18px;
    padding: 18px 20px;
    gap: 20px;
    border-radius: 40px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #adb0d9;
    &::placeholder {
      font-size: 18px;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;
    margin: 0;
  }
  header {
    @extend.d-center;
    justify-content: space-between;
    svg {
      cursor: pointer;
    }
  }
}

.dnone {
  opacity: 0;
}

.workspace {
  background-color: white;
  height: calc(100vh - 120px);
  padding: 20px;
  transition: all 125ms ease-in-out;
}

.toggleWorkspaceMenu {
  display: none;
}

.iconSize24 {
  width: 24px;
  height: 24px;
}

.channels,
.privateMessage {
  @extend .d-center;
  justify-content: flex-start;
  gap: 16px;
  .dropDownHeader {
    @extend .d-center;
    gap: 8px;
  }
}

.dropdown-container img {
  transition: transform 125ms ease-in-out;
}

.openIcon {
  transform: rotate(0deg);
}
.closedIcon {
  transform: rotate(-90deg);
}

.channelSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    width: 24px;
    cursor: pointer;
    padding: 4px;

    &:hover {
      color: $main-secondary;
      background-color: $bg-field-color;
      border-radius: 50%;
    }
    &:hover rect,
    &:hover path {
      fill: $main-secondary;
    }
  }
}

.dropDownHeader,
.addChannel {
  cursor: pointer;
  margin-right: 16px;
}

.dropdown-content {
  @extend .d-center;
  align-items: start;
  gap: 8px;
  flex-direction: column;
  margin-left: 30px;
}

.userList {
  position: relative;
  @extend .d-center;
  gap: 16px;
  padding: 4px 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 125ms ease-in-out;
  &:hover {
    background-color: $bg-field-color;
  }
}

.channelListItem {
  @extend .d-center;
  gap: 8px;
  margin-left: 16px;
  margin-top: 16px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 16px;
  }
}

.status {
  border: 2px solid #ffffff;
  width: 14px;
  height: 14px;
  top: 40px;
  left: 56px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.online {
  @extend .status;
  background: #92c83e;
}

.offline {
  @extend .status;
  background: #686868;
}

.workspaceSearch {
  display: block;
}
.workspaceName {
  display: none;
}

.addMessage {
  position: fixed;
  bottom: 40px;
  right: 16px;
  background-color: $main-color;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 0px 6px 10px 0px #00000033;
  cursor: pointer;

  path {
    fill: white;
  }
}

.popupChannelAddPeople {
  padding: 30px 26px;
  gap: 25px;
  border-radius: 30px 30px 0px 0px;
  background-color: white;
  box-shadow: 0px -3px 10px 0px #00000033;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: all 125ms ease-in-out;
  transform: translateY(200px);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
      text-align: left;
      margin: 0;
    }
  }

  .radioField {
    display: flex;
    align-items: center;
    gap: 20px;
  
  }

  footer {
    display: flex;
    justify-content: end;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  input[type="text"] {
    font-size: 18px;
    border-radius: 40px;
    padding: 18px 20px;
    border: 1px solid #adb0d9;
    display: inline-block;
    width: max-content;
  }

  input::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
  }

  .shortLine {
    width: 62px;
    height: 6px;
    gap: 0px;
    border-radius: 23px;
    background: #d9d9d9;
    margin: 0 auto;
    cursor: pointer;
  }
  svg {
    cursor: pointer;
    padding: 6px;
    &:hover {
      color: #535af1;
      background-color: #eceefe;
      border-radius: 50%;
    }
    &:hover rect,
    &:hover path {
      fill: $main-secondary;
    }
 
  }

}

.showPopupChannelAddPeople {
  transform: translateY(0px);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  input[type="text"] {
    box-sizing: border-box;
    width: 100%;
  }

  input[type="radio"] {
    cursor: pointer;
  }
  button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
  }
  label {
    cursor: pointer;
    display: flex;
    gap:20px;
  }
}

.hidden {
  display: none;
}

// Media Queries Mobile First

@media screen and (min-width: 800px) {
  .popupChannelAddPeople {
    display: none;
  }

  .showPopupChannelAddPeople {
    max-width: 710px;
    max-height: 279px;
    padding: 40px;
    gap: 20px;
    border-radius: 30px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px #00000033;
    margin: 0 auto;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
   

    input[type="text"] {
      box-sizing: border-box;
      width: 100%;
    }

    label {
      cursor: pointer;
      display: flex;
      gap:20px;
    }

    button {
      font-size: 18px;
      font-weight: 700;
      line-height: 24.55px;
      text-align: left;
    }

    .shortLine {
      display: none;
    }
  }

  .workspaceContent {
    overflow-x: hidden;
    height: 78vh;
    margin-right: -20px;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 125ms ease;
    z-index: 2;
  }

  .hidden {
    display: none;
  }

  .visible {
    opacity: 1;
  }

  .addChannelContainer {
    max-width: 832px;
    max-height: 539px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px #00000033;
    margin: 0 auto;
    margin-top: 25vh;
    padding-bottom: 120px;
    button {
      position: absolute;
      right: 20px;
      bottom: 40px;
    }
    svg {
      width: 24px;
      cursor: pointer;
      padding: 6px;

      &:hover {
        color: $main-secondary;
        background-color: $bg-field-color;
        border-radius: 50%;
      }
      &:hover rect,
      &:hover path {
        fill: $main-secondary;
      }
    }
  }

  .WorkspaceOpen {
    width: 300px !important;
    margin-left: 16px !important;
  }

  .WorkspaceClosed {
    width: 0px !important;
    margin-left: -366px !important;
    opacity: 0;
  }

  .addMessage {
    display: none;
  }

  .workspace {
    width: 366px;
    border-radius: 30px;
    height: 85vh;
    margin: 0 16px;
  }

  .toggleWorkspaceMenuInner {
    display: flex;
    align-items: center;
    rotate: -90deg;
    white-space: nowrap;
    gap: 8px;
  }

  .toggleWorkspaceMenu {
    cursor: pointer;
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 4px 4px 7px 0px #00000033;
    width: 60px;
    height: 347px;
    bottom: 10%;
    border-radius: 0px 30px 30px 0px;
    transition: color 125ms ease-in-out;
    &:hover {
      color: $main-secondary;
    }
    &:hover rect,
    &:hover path {
      stroke: $main-secondary;
    }

    span {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
    }
    svg {
      width: 32px;
      height: 32px;
      rotate: -90deg;
    }
    svg.open {
      rotate: 90deg;
    }
  }
  .workspaceSearch {
    display: none;
  }
  .workspaceName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 24px;
      cursor: pointer;
      padding: 4px;

      &:hover {
        color: $main-secondary;
        background-color: $bg-field-color;
        border-radius: 50%;
      }
      &:hover rect,
      &:hover path {
        fill: $main-secondary;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
      text-align: left;
    }
  }
}
