<section class="workspace" [ngClass]="{ 'WorkspaceOpen': isWorkspaceOpen, 'WorkspaceClosed': !isWorkspaceOpen }">  
  <div class="workspaceName">
    <div>
      <img src="../../../assets/img/Workspace logo.png" alt="" />
      <span>Devspace</span>
    </div>
    <img src="../../../assets/img/edit_square.svg" alt="" />
  </div>
  <app-search class="workspaceSearch"></app-search>

  <div class="channelSelector">
    <div class="channels dropdown-container">
      <img
        src="../../../assets/img/arrow_drop_down.svg"
        alt=""
        class="arrow-icon iconSize30"
        (click)="toggleChannels()"
      />
      <div class="dropDownHeader" (click)="toggleChannels()">
        <img
          src="../../../assets/img/workspaces.svg"
          alt=""
          class="iconSize24"
        />
        <h3>Channels</h3>
      </div>
    </div>
    <img
      class="addChannel"
      src="../../../assets/img/add.svg"
      alt=""
      class="addChannel"
    />
  </div>

  <div class="dropdown-content" *ngIf="isChannelOpen">
    <div class="channelListItem">
      <img src="../../../assets/img/tag.svg" alt="" class="iconSize24" />
      <span>Entwicklerteam</span>
    </div>
    <div class="channelListItem">
      <img src="../../../assets/img/add_circle.svg" alt="" class="iconSize24" />
      <span>Channel hinzufügen</span>
    </div>
  </div>

  <div class="privateMessage dropdown-container">
    <img
      src="../../../assets/img/arrow_drop_down.svg"
      alt=""
      class="arrow-icon iconSize30"
      (click)="togglePrivateMessage()"
    />
    <div class="dropDownHeader" (click)="togglePrivateMessage()">
      <!-- <img src="../../../assets/img/workspaces.svg" alt="" /> -->
      <img
        src="../../../assets/img/account_circle.svg"
        alt=""
        class="iconSize24"
      />
      <h3>Direktnachrichten</h3>
    </div>
  </div>
  <div class="dropdown-content" *ngIf="isPrivateMessageOpen">
    <div class="userList">
      <img
        src="../../../assets/img/img_profile/profile1.png"
        alt=""
        class="userProfile50"
      />
      <div class="online"></div>
      <span>Frederick Beck (Du)</span>
    </div>

    <div class="userList">
      <img
        src="../../../assets/img/img_profile/profile2.png"
        alt=""
        class="userProfile50"
      />
      <div class="online"></div>

      <span>Sofia Müller</span>
    </div>

    <div class="userList">
      <img
        src="../../../assets/img/img_profile/profile3.png"
        alt=""
        class="userProfile50"
      />
      <div class="online"></div>
      <span>Noah Braun</span>
    </div>

    <div class="userList">
      <img
        src="../../../assets/img/img_profile/profile6.png"
        alt=""
        class="userProfile50"
      />
      <div class="offline"></div>
      <span>Elise Roth</span>
    </div>

    <div class="userList">
      <img
        src="../../../assets/img/img_profile/profile5.png"
        alt=""
        class="userProfile50"
      />
      <div class="offline"></div>
      <span>Elias Neumann</span>
    </div>

    <div class="userList">
      <img
        src="../../../assets/img/img_profile/profile4.png"
        alt=""
        class="userProfile50"
      />
      <div class="online"></div>
      <span>Steffen Hoffmann</span>
    </div>
  </div>

  <svg
    class="addMessage"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <mask
      id="mask0_79092_16126"
      style="mask-type: alpha"
      maskUnits="userSpaceOnUse"
      x="0"
      y="0"
      width="24"
      height="24"
    >
      <rect width="24" height="24" fill="#D9D9D9" />
    </mask>
    <g mask="url(#mask0_79092_16126)">
      <path
        d="M5 23.7C4.45 23.7 3.97917 23.5042 3.5875 23.1125C3.19583 22.7208 3 22.25 3 21.7V7.69999C3 7.14999 3.19583 6.67915 3.5875 6.28749C3.97917 5.89582 4.45 5.69999 5 5.69999H13.925L11.925 7.69999H5V21.7H19V14.75L21 12.75V21.7C21 22.25 20.8042 22.7208 20.4125 23.1125C20.0208 23.5042 19.55 23.7 19 23.7H5ZM16.175 6.27499L17.6 7.67499L11 14.275V15.7H12.4L19.025 9.07499L20.45 10.475L13.825 17.1C13.6417 17.2833 13.4292 17.4292 13.1875 17.5375C12.9458 17.6458 12.6917 17.7 12.425 17.7H10C9.71667 17.7 9.47917 17.6042 9.2875 17.4125C9.09583 17.2208 9 16.9833 9 16.7V14.275C9 14.0083 9.05 13.7542 9.15 13.5125C9.25 13.2708 9.39167 13.0583 9.575 12.875L16.175 6.27499ZM20.45 10.475L16.175 6.27499L18.675 3.77499C19.075 3.37499 19.5542 3.17499 20.1125 3.17499C20.6708 3.17499 21.1417 3.37499 21.525 3.77499L22.925 5.19999C23.3083 5.58332 23.5 6.04999 23.5 6.59999C23.5 7.14999 23.3083 7.61665 22.925 7.99999L20.45 10.475Z"
        fill="black"
      />
    </g>
  </svg>
</section>

<div class="toggleWorkspaceMenu" (click)="toggleWorkspace();">
  <div class="toggleWorkspaceMenuInner">
    <span *ngIf="isWorkspaceOpen">Workspace-Menü schließen</span>
    <span *ngIf="!isWorkspaceOpen">Workspace-Menü öffnen</span>

    <svg [ngClass]="{ 'open': !isWorkspaceOpen }" width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="8" y="8.5" width="16" height="16" rx="1" stroke="black" stroke-width="2"/>
      <path d="M13.7144 8.5V24.5" stroke="black" stroke-width="2"/>
      <path d="M17.143 18.7856L19.0752 16.8535C19.2704 16.6582 19.2704 16.3416 19.0752 16.1464L17.143 14.2142" stroke="black" stroke-width="2" stroke-linecap="round"/>
      </svg>

  </div>
</div>
