// @import "../../../assets/css/helper.scss";

.search {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 24px;
  border-radius: 42px;
  border: 1px solid #adb0d9;
  input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    &::placeholder {
      font-size: 17px;
    }
  }
  img {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

@media screen and (min-width: 800px) { 
  .search {
border:none;

  }

}

