@import "../../../assets/css/helper.scss";

.thread {
  @extend .d-none;
}

app-chatmsgbox {padding:20px;}


@media screen and (min-width: 800px) {
  .thread {
    display: block;
    background-color: white;
    // height: 88vh;
    // padding: 20px;
    transition: all 125ms ease-in-out;
    width: calc(485px - 164px);
    border-radius: 30px;
    height: 85vh;
    margin: 0 16px;
  }

  .threadName {
    padding: 25px 45px;
  box-shadow: 0px 2px 10px -2px #00000014;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      gap:16px;
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
      text-align: left;
      margin:0;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 19.1px;
      text-align: left;
      color: $main-light;
    }
    img {
      width: 24px;
    }
  }
}

@media screen and (min-width: 800px) {
  .thread {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    height: 89vh;
    margin: 0 16px;
    background-color: white;
  }
}
