@import '../../assets/css/helper.scss';

section{
  height: 100vh;
  width: 100%;
  position: relative;
  @extend .d-center;
  flex-direction: column;
  gap: 20px;
}

section{
  .presentation{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient($main-light, $main-secondary, $main-color);
    animation: background-change 650ms ease-out 3s forwards;
    @extend .d-center;
  }
}

.container-presentation{
  position: relative;
  @extend .d-center;
  z-index: 100;
  animation: container-logo-up 650ms ease-out 2500ms forwards;
}

.img-container{
  @extend .d-center;
  position: absolute;
  animation: logo-img-left 500ms ease-out 1s forwards,
  logo-img-transparent 1ms ease-out 2000ms forwards;
  background-color: $main-secondary;
  z-index: 10;
  img.logo{
    width:72px;
    height: 64px;
  }
}

span.text-logo{
  color: $white-color;
  font-size: 24px;
  font-weight: 700;
  animation: text-logo-right 500ms ease-out 1500ms forwards, logo-img-color 500ms ease-out 3s forwards;
  position: relative;
  z-index: -5;
  opacity: 0;
}

@keyframes logo-img-left {
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-60px);
  }
}

@keyframes logo-img-color {
  from{
    color: $white-color;
  }
  to{
    color: $black-color;
  }
}


@keyframes logo-img-transparent {
  from{
    background-color: $main-secondary;
  }
  to{
    background-color: transparent;
  }
}

@keyframes text-logo-right {
  from{
    opacity: 100;
    transform: translate(-25px);
  }
  to{
    opacity: 100;
    transform: translate(+40px);
  }
}

@keyframes container-logo-up {
  from{
    transform: translateY(0);
  }
  to{
    opacity: 100;
    transform: translateY(-40vh);
  }
}

@keyframes background-change {
  from{
    z-index: 100;
    background-image: linear-gradient($main-light, $main-secondary, $main-color);
  }
  to{
    background-image: linear-gradient($white-color, $white-color);
    z-index: -1000;
  }
}

.main-container{
  @extend .d-center;
  flex-direction: column;
  margin-top: 45px;
}

.card{
  @extend .d-center;
  flex-direction: column;
  gap: 15px;
  padding: 0 40px;
  h1{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
  } 
  
  h3{
    margin: 0;
    font-size: 17px;
    font-weight: normal;
  }
}

.form{
  @extend .d-center;
  flex-direction: column;
  gap: 15px;
  .control{
   @extend .d-center;
   .container-input{
    @extend .d-center;
   }
  }
}
