@import '../../assets/css/helper.scss';

.presentation{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-image: linear-gradient($main-light, $main-secondary, $main-color);
  animation: background-change 650ms ease-out 3s forwards;
  @extend .d-center;
}

section{
  height: 100vh;
  width: 100%;
  position: relative;
  @extend .d-center;
  flex-direction: column;
  gap: 0;
}

.container-presentation{
  position: relative;
  @extend .d-center;
  z-index: 100;
  animation: container-logo-up 650ms ease-out 2500ms forwards;
}

.img-container{
  @extend .d-center;
  position: absolute;
  animation: logo-img-left 500ms ease-out 1s forwards,
  logo-img-transparent 1ms ease-out 2000ms forwards;
  background-color: $main-secondary;
  z-index: 10;
  img.logo{
    width:72px;
    height: 64px;
  }
}

span.text-logo{
  color: $white-color;
  font-size: 24px;
  font-weight: 700;
  animation: text-logo-right 500ms ease-out 1500ms forwards, logo-img-color 500ms ease-out 3s forwards;
  position: relative;
  z-index: -5;
  opacity: 0;
}

@keyframes logo-img-left {
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-60px);
  }
}

@keyframes logo-img-color {
  from{
    color: $white-color;
  }
  to{
    color: $black-color;
  }
}


@keyframes logo-img-transparent {
  from{
    background-color: $main-secondary;
  }
  to{
    background-color: transparent;
  }
}

@keyframes text-logo-right {
  from{
    opacity: 100;
    transform: translate(-25px);
  }
  to{
    opacity: 100;
    transform: translate(+40px);
  }
}

@keyframes container-logo-up {
  from{
    transform: translateY(0);
  }
  to{
    opacity: 100;
    transform: translateY(-41vh);
  }
}

@keyframes background-change {
  from{
    z-index: 100;
    background-image: linear-gradient($main-light, $main-secondary, $main-color);
  }
  to{
    background-image: linear-gradient($bg-field-color, $bg-field-color);
    z-index: -1000;
  }
}

.main-container{
  @extend .d-center;
  flex-direction: column;
  margin-top: 75px;
}

.card{
  @extend .d-center;
  flex-direction: column;
  gap: 4px;
  padding: 8px 16px;
  margin: 8px 16px;
  background-color: $white-color;
  @extend .border-radius;

  h1{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: $main-color;
  } 
  
  h3{
    margin: 0;
    font-size: 17px;
    font-weight: normal;
  }
}

.form{
  @extend .form-control;
}

.control {
  svg{
    width: 24px;
    height: 24px;
  }
  input{
    border: none;
    background-color: transparent;
    &:focus{
      outline: none;
    }
  
  }
}

.container-input-login{
  @extend .container-input;
  justify-content: start !important;
  padding-left: 24px !important;
}

.color-svg{
  fill: $main-gray;
}

.container-register{
  @extend .d-center;
  flex-direction: column;
  gap: 2px;
  p{margin: 0;}
}

.container-passwort-forgot{
  a{
    color: $main-secondary;
  }
}

.container-or{
  width: 100%;
  @extend .d-center;
  >*{
    flex: 1;
  }
  span{
    text-align: center;
    font-size: 14px;
  }
  .divider{
    height: 1px;
    width: 100%;
    background-color: rgba($color: $black-color, $alpha: 0.2);
  }
}

.container-submit{
  @extend .d-center;
  gap: 20px;
  button.submit {
    @extend .button-app;
  }
  button.gast {
    @extend .button-app;
    color: $main-color;
    border-color: $main-color;
    background-color: $white-color;
  }
}

.container-register{
  p{
    font-size: 18px;
    font-weight: 400;
  }
  a{
    @extend .button-app;
    color: $main-secondary; 
    background-color: $white-color;
    border-color: $main-color;
    font-size: 18px;
  }
}

.privacy-container{
  @extend .d-none;
}
