<section>
  <div class="container-logo-name"></div>
  <div class="main-container">
    <div class="card">
      <h1>Anmeldung</h1>
      <h3>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</h3>
      <form class="form">
        <div class="control">
          <div class="container-input-login">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_79092_726" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
              <rect width="30" height="30" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_79092_726)">
              <path d="M5 25C4.3125 25 3.72417 24.7554 3.235 24.2663C2.745 23.7763 2.5 23.1875 2.5 22.5V7.5C2.5 6.8125 2.745 6.22417 3.235 5.735C3.72417 5.245 4.3125 5 5 5H25C25.6875 5 26.2763 5.245 26.7663 5.735C27.2554 6.22417 27.5 6.8125 27.5 7.5V22.5C27.5 23.1875 27.2554 23.7763 26.7663 24.2663C26.2763 24.7554 25.6875 25 25 25H5ZM25 10L15.6562 15.8438C15.5521 15.9062 15.4425 15.9529 15.3275 15.9837C15.2133 16.0154 15.1042 16.0312 15 16.0312C14.8958 16.0312 14.7867 16.0154 14.6725 15.9837C14.5575 15.9529 14.4479 15.9062 14.3438 15.8438L5 10V22.5H25V10ZM15 13.75L25 7.5H5L15 13.75ZM5 10.3125V8.46875V8.5V8.48375V10.3125Z" class="color-svg"/>
              </g>
            </svg>
            <input type="text" placeholder="beispielname@email.com"
            (focus)="clearPlaceholder($event)" 
            (blur)="restorePlaceholder($event, 'beispielname@email.com')">
          </div>
          <div class="error">*Diese E-Mail E-Mail-Adresse ist leider ungültig.</div>
        </div>
        <div class="control">
          <div class="container-input-login">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_79092_726" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
              <rect width="30" height="30" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_79092_726)">
              <path d="M5 25C4.3125 25 3.72417 24.7554 3.235 24.2663C2.745 23.7763 2.5 23.1875 2.5 22.5V7.5C2.5 6.8125 2.745 6.22417 3.235 5.735C3.72417 5.245 4.3125 5 5 5H25C25.6875 5 26.2763 5.245 26.7663 5.735C27.2554 6.22417 27.5 6.8125 27.5 7.5V22.5C27.5 23.1875 27.2554 23.7763 26.7663 24.2663C26.2763 24.7554 25.6875 25 25 25H5ZM25 10L15.6562 15.8438C15.5521 15.9062 15.4425 15.9529 15.3275 15.9837C15.2133 16.0154 15.1042 16.0312 15 16.0312C14.8958 16.0312 14.7867 16.0154 14.6725 15.9837C14.5575 15.9529 14.4479 15.9062 14.3438 15.8438L5 10V22.5H25V10ZM15 13.75L25 7.5H5L15 13.75ZM5 10.3125V8.46875V8.5V8.48375V10.3125Z" class="color-svg"/>
              </g>
            </svg>
            <input type="text" placeholder="Passwort"
            (focus)="clearPlaceholder($event)" 
            (blur)="restorePlaceholder($event, 'Passwort')">
          </div>
          <div class="error">*Falsches Passwort oder E-Mail. Bitte noch einmal versuchen</div>
        </div>
        <div class="container-passwort-forgot">
            <a [routerLink]="['/recover-password']">Passwort vergessen?</a>
        </div>
        <div class="container-or">
          <div class="divider"></div>
          <span>ODER</span>
          <div class="divider"></div>
        </div>
        <div>
          Anmdelden mit Google
        </div>
        <div class="container-submit">
          <button class="submit" type="submit">Anmelden</button>
          <button class="gast" type="button">Gäste-Login</button>
        </div>
      </form>
    </div>
    <div class="privacy-container">
      <button type="button">Impressum</button>
      <button type="button">DatenSchutz</button>
    </div>
  </div>
  <div class="container-register">
    <p>Neu bei DABubble?</p>
    <a [routerLink]="['/register']">Konto erstellen</a>
  </div>
</section>
<div class="presentation">
  <div class="container-presentation">
    <div class="img-container">
      <img class="logo" src="./assets/img/Logo-dabubble.png" alt="Logo-dabubble">
    </div>
    <span class="text-logo">DABubble</span>
  </div>
</div>

