<app-header></app-header>
<main class="mainContainer">
  <app-workspace
    [ngClass]="{ hideOnMobile: isThreadVisible$ | async }"
  ></app-workspace>
  <app-channel
    [ngClass]="{ hideOnMobile: isThreadVisible$ | async }"
  ></app-channel>
  @if(isThreadVisible$ | async){
  <app-thread></app-thread>
  } @if(userProfilePopUp$ | async ){
  <article class="container-user-profile" (click)="closeUserProfile()">
    @if(userEditProfile$ | async ){
    <app-popup-user-profile
      (click)="$event.stopPropagation()"
      class="d-inline-block"
    ></app-popup-user-profile>
    }@else {
    <app-user-edit
      (click)="$event.stopPropagation()"
      class="d-inline-block"
    ></app-user-edit>
    }
  </article>
  }
</main>
