@import "../../assets/css/helper.scss";

app-channel {
  width: 100%;
}

.hideOnMobile {display: none;}

@media screen and (min-width: 800px) {
  .mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hideOnMobile {display: block;}
}

.container-user-profile{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left:0;
  bottom: 0;
}
