@import "../../assets/css/helper.scss";
.mainContainer {
    display: block;
    // @extend .d-center;
    // align-items: flex-start;
    // justify-content: flex-start;
}
app-channel {width:100%;}

@media screen and (min-width: 800px) {

    .mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    }
}

