<app-header
  [isNewMessageVisible]="isNewMessageOpen"
  [isChannelVisible]="isChannelSelected"
  (hideChannel)="hideChannel()"
  (toggleNewMessage)="toggleNewMessage()"
></app-header>
<main class="mainContainer">
  <app-workspace
    [ngClass]="{ hideOnMobile: isThreadVisible }"
    [isChannelVisible]="isChannelSelected"
    [isNewMessageVisible]="isNewMessageOpen"
    [isVisible]="isThreadVisible"
    (hideChannel)="hideChannel()"
    (showChannel)="showChannel()"
    (toggleNewMessage)="toggleNewMessage()"
  ></app-workspace>
  <app-channel
    [ngClass]="{ hideOnMobile: isThreadVisible }"
    [isNewMessageVisible]="isNewMessageOpen"
    [isChannelVisible]="isChannelSelected"
    [isVisible]="isThreadVisible"
    (showThread)="showThread()"
  ></app-channel>
  <app-thread
    [isVisible]="isThreadVisible"
    (hideThread)="hideThread()"
  ></app-thread>
  <!-- Fixen -->
   @if(userProfilePopUp$ | async ){
     <article class="container-user-profile">
       <app-popup-user-profile></app-popup-user-profile>
     </article>
   }
</main>
