//Colors
$main-color: #444DF2;
$main-secondary: #535AF1;
$main-light: #797EF3;
$bg-field-color: #ECEEFE;
$main-gray: #686868;

//Basic color
$black-color: black;
$white-color: white;
$red-color: red;

.d-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none{
  display: none;
}

.border-radius{
  border-radius: 16px;
}

.button-app{
  background-color: $main-color;
  font-size: 12px;
  font-weight: 700;
  color: $white-color;
  padding: 12px 25px;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 25px;
}

.form-control{
  @extend .d-center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  .control{
    width: 100%;
    display: block;
   .container-input{
    @extend .d-center;
    gap: 8px;
    @extend .border-radius;;
    padding: 4px 8px;
    background-color: $bg-field-color;
    border: 1px solid transparent;
    &:has(input:focus) {
      border: 1px solid $main-color;
    }
   }
  }
}

.container-input:has(input:focus) {
  svg .color-svg {
    fill: $black-color;
  }
}

.error{
  font-size: 10px;
  color: $white-color; 
  // color: $red-color; 
}

.max-width {
  max-width:1440px;
  margin:0 auto;
}

.userProfile50 img, .userProfile50 {
  border-radius: 50%;
  width: 50px;
}

.userProfile80 img, .userProfile80{
  border-radius: 50%;
  width: 80px;
}




