@import "../../../assets/css/helper.scss";
.reaction-users-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reaction-item {
    position: relative;
    padding: 5px 10px;
    &:hover .reaction-users {
      display: block;
    }
  }
  
  .reaction-users {
    display: none;
    min-width: 158px;
    box-sizing: border-box;
    position: absolute;
    bottom: 33px; /* Feste Position von unten */
    left: 20px; /* Horizontale Zentrierung */
    padding: 15px 20px;
    border-radius: 30px 30px 30px 0px;
    background: #444df2;
    color: white;
    .bold {
      font-weight: 700;
    }
    span {
      font-size: 18px;
      background-color: #444df2 !important;
      border-radius: unset !important;
      border: none !important;
      text-align: center;
    }
  }
  
  
  
  
  .moreIcons {
    position: relative;
    padding: 5px 10px;
    &:hover .moreIconsPopup {
      display: flex;
    }
  }
  
  
  .moreIconsPopup {
    display: none;
    align-items:center;
    gap:16px;
    // min-width: 158px;
    box-sizing: border-box;
    position: absolute;
    bottom: 33px; /* Feste Position von unten */
    left: 10px; /* Horizontale Zentrierung */
    padding: 15px 20px;
    border-radius: 30px 30px 30px 0px;
    background: #444df2;
    color: white;
    div {
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    .bold {
      font-weight: 700;
    }
    span {
      font-size: 18px;
      background-color: #444df2 !important;
      border-radius: unset !important;
      border: none !important;
      text-align: center;
    }
  }

.showReactions {
    display: flex;
    gap: 8px;
    position: relative;
    align-items: center;
  
    .moreIcons {
      padding: 6px;
      border-radius: 50%;
      background-color: white;
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: $bg-field-color;
      }
      &:hover rect,
      &:hover path {
        fill: $main-secondary;
      }
    }
  
    img {
      width: 24px;
      height: 24px;
    }
    // moreIcons
    span:not(.moreIcons) {
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: white;
      // padding: 5px 10px;
      gap: 8px;
      border-radius: 20px;
      border: 1px solid #adb0d9;
    }
  }