@import '../../../assets/css/helper.scss';

section{
  @extend .d-center;
	flex-direction: column;
	gap: 12px;
	max-width: 398px;
	padding: 14px;
	margin: 16px;
	background-color: $white-color;
	@extend .border-radius;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2)); 
}

.card{
  width: 100%;
  @extend .d-center;
  gap: 38px;
	flex-direction: column;
}
.card-header{
  width: 100%;
  @extend .d-center;
  justify-content: space-between;
  span{
    font-size: 24px;
    font-weight: 700;
  }
}

.container-close{
  position: absolute;
  top:10px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 8px;
  @extend .d-center;
  cursor: pointer;
  svg{
    width: 100% !important;
    height: 100% !important;
    fill:$black-color;
  }
  &:hover{
    background-color: rgba($color: $main-secondary, $alpha: 0.2);
    border-radius: 50%;
  }
  &:hover svg{
    fill:$main-secondary;
  }
}

.container-avatar-selected{
  width: 100%;
  @extend .d-center;
}

.avatar-selected{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border: 8px solid transparent;
  border-radius: 50%;
  &:hover{
    border: 8px solid rgba($color: $main-gray, $alpha: 0.2);
  }
}