<section class="channel">
  <div class="channelHeader">
    <div class="channelName">
      <img src="../../../assets/img/tag.svg" alt="" class="iconSize24" />
      <span>Entwicklerteam</span>
      <img src="../../../assets/img/keyboard_arrow_down.svg" alt="" />
    </div>

    <div class="channelMembers">
      <div class="members">
        <img src="../../../assets/img/img_profile/profile1.png" alt="" />
        <img src="../../../assets/img/img_profile/profile2.png" alt="" />
        <img src="../../../assets/img/img_profile/profile3.png" alt="" />
      </div>
      <span class="memberCount">3</span>
      <img src="../../../assets/img/add_members_button.svg" alt="" />
    </div>
  </div>
  <div class="channelBody">

    <div class="timeLine"><span>Dienstag, 14. Januar</span></div>

<div class="chatMessage leftMessage">
  <img class="userProfile70" src="../../../assets/img/img_profile/profile3.png" alt="">
  <div class="chatMessageDetails">
    <header>
    <span class="userName">Noah Braun</span>
    <time class="time" datetime="">14:25 Uhr</time>
    </header>
    <div class="messageText">Welche Version ist aktuell von Angular?</div>
    <footer>2 Antworten</footer>
  </div>
</div>


<div class="timeLine"><span>Heute</span></div>

<div class="chatMessage rightMessage">
  <img class="userProfile70" src="../../../assets/img/img_profile/profile1.png" alt="">
  <div class="chatMessageDetails">
    <header>
     <span class="userName">Frederik Beck</span> 
     <time class="time" datetime="">15:06 Uhr</time>
    </header>
    <div class="messageText">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
    <footer>2 Antworten</footer>
  </div>
</div>

  </div>

  <app-chatmsgbox></app-chatmsgbox>
</section>
