@import "../../../assets/css/helper.scss";

.channel {
  @extend .d-none;
}
.channelHeader {
  // background-color:pink;
  padding: 25px 45px;
  box-shadow: 0px 2px 10px -2px #00000014;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.channelMembers {
  display: flex;
  align-items: center;
  gap: 16px;
}

.memberCount {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.28px;
  text-align: left;
}

.members {
  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: -16px;
    border: 2px white solid;
  }
}

.channelName {
  @extend .d-center;
  gap: 8px;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  justify-content: flex-start;
}

.channelBottom {
  padding: 20px;
}

.timeLine {
  position: relative;
  align-items: center;
  border-top: 1px solid #adb0d9;
  display: flex;
  justify-content: center;
  margin: 20px;
  span {
    position: absolute;
    top: -18px;
    border: 1px solid #adb0d9;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    color: black;
    font-size: 18px;
    background: white;
  }
}

.channelBottom .messageArea {
  min-height: 125px;
  padding: 20px;
  gap: 40px;
  border-radius: 20px;
  border: 1px solid #adb0d9;
  width: calc(100% - 40px);
}

.channelBottom .messageArea textarea {
  width: 100%;
  min-height: 100px;

  border: unset;
  outline: unset;
  font-size: 18px;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
}

.messageBottomLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  svg {
    cursor: pointer;
  }
}

.messageIcons {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  cursor: pointer;
  padding: 0px;

  svg {
    width: 24px;
    height: 24px;
    &:hover {
      fill: $main-secondary;
    }
    rect,
    path {
      &:hover {
        fill: $main-secondary;
      }
    }

    &:hover {
      background-color: $bg-field-color;
      border-radius: 50%;
      padding: 4px;
    }
  }

  .rightBorder {
    width: 1px;
    height: 40px;
    background-color: silver;
  }
}

.chatMessage {
  transition: all 125ms ease-in-out;
  &:hover {
    background-color: $bg-field-color;
  }

  padding: 20px;
  display: flex;
  gap: 24px;
}

.leftMessage {
  transition: all 125ms ease-in-out;
   &:hover .messageText{
    background-color: white;
  }

}

.rightMessage {
  flex-direction: row-reverse;
  .messageText {
    background-color: $main-light;
    color: white;
    padding: 15px;
    border-radius: 30px 0px 30px 30px;
  }
  .chatMessageDetails header {
    flex-direction: row-reverse;
  }
}

.chatMessageDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  header {
    display: flex;
    gap: 16px;
    align-items: center;
    .userName {
      font-size: 18px;
      font-weight: 700;
      line-height: 24.55px;
      text-align: left;
    }
    .time {
      font-family: "Nunito", "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.1px;
      text-align: left;
    }
  }
}

.userProfile70 {
  width: 70px;
  height: 70px;
}

.messageText {
  background-color: $bg-field-color;
  padding: 15px;
  border-radius: 0px 30px 30px 30px;
}

app-chatmsgbox {padding:20px;}

// Media Queries Mobile First

@media screen and (min-width: 800px) {
  .channel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    height: 89vh;
    margin: 0 16px;
    background-color: white;
  }
}
