<section class="channel">
  <div class="channelHeader">
    <div class="channelName">
      <img src="../../../assets/img/tag.svg" alt="" class="iconSize24" />
      <span>Entwicklerteam</span>
      <img src="../../../assets/img/keyboard_arrow_down.svg" alt="" />
    </div>

    <div class="channelMembers">
      <div class="members">
        <img src="../../../assets/img/img_profile/profile1.png" alt="" />
        <img src="../../../assets/img/img_profile/profile2.png" alt="" />
        <img src="../../../assets/img/img_profile/profile3.png" alt="" />
      </div>
      <span class="memberCount">3</span>
      <img src="../../../assets/img/add_members_button.svg" alt="" />
    </div>
  </div>
  <div class="channelBody">
    <p>channel works!</p>
    <div class="timeLine"><span>Heute</span></div>
  </div>
  <div class="channelBottom">
    <textarea name="" id=""></textarea>
  </div>
</section>
