/* You can add global styles to this file, and also import other style files */
@import './assets/css/fonts.css';
@import './assets/css/helper.scss';

body { 
  font-family: "Nunito", "Helvetica Neue", sans-serif; 
  @extend .max-width;
  padding:0;
  box-sizing: border-box;  
  background-color: $bg-field-color;
  input::placeholder {
    font-family: "Nunito", "Helvetica Neue", sans-serif; 
  }
  textarea::placeholder {
    font-family: "Nunito", "Helvetica Neue", sans-serif; 
    font-size:18px;
  }
}



button, a{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: $main-secondary;
}

.d-none{
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  // background: $bg-field-color;
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-light;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main-secondary;
 
}

.no-scroll {
  overflow: hidden; /* Verhindert vertikales und horizontales Scrollen */
}

